/* 重置所有元素的边距和内边距，并设置盒模型 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 禁止水平滚动 */
html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; /* 默认字体大小 */
    background: #f7f7f7;
    color: #333;
    padding: 20px;
}

.container {
    width: calc(100% - 40px);
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px;
    background: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background: #e0e0e0;
    color: #222;
}

.line{
    word-wrap: break-word;
    width: 100%;
    min-height: 1.2em; /* 确保空行至少占据一行的高度 */
    box-sizing: border-box;

/* 按钮容器样式 */
#button-container {
    position: relative;
    right: 0;
    top: 0;
    margin-bottom: 20px;
    margin-right: 6px; /* 右边距为6px */
}

/* 按钮样式 */
#button-container button {
    margin-left: 10px;
    padding: 10px;
    border: none;
    background-color: #f7f7f7;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

#button-container button:hover {
    background-color: #e7e7e7;
}

/* 夜间模式 */
body.dark-mode {
    background: #121212;
    color: #aaaaaa;
}

body.dark-mode .container {
    background: #181818;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.dark-mode a {
    background: #282828;
    color: #aaaaaa;
}

body.dark-mode a:hover {
    background: #383838;
    color: #ffffff;
}

body.dark-mode #button-container button {
    background-color: #181818;
    color: #aaaaaa;
}

body.dark-mode #button-container button:hover {
    background-color: #282828;
}

/* 媒体查询，针对屏幕宽度小于或等于 768px 的设备 */
@media (max-width: 768px) {
    .container {
        width: calc(100% - 20px);
        margin: 10px;
        padding: 10px;
    }

    .header h1 {
        font-size: 20px;
    }

    li {
        margin-bottom: 5px;
    }

    a {
        padding: 5px;
    }
}